{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <!-- count quantity  -->
    {% set count = 0 %}
    {% set sum = 0 %}
    {% for portfolio in user.portfolios %}
        {% for depositary in portfolio.depositaries %}
            {% set count = count + depositary.quantity %}
        {% endfor %}
        {% set sum = sum + portfolio.balance %}
    {% endfor %}
    <h1>
        username: {{ user.username }}
    </h1>
    <h1>
        all portfolios: {{ user.portfolios|length }}
    </h1>
<h2>
        total quantity: {{ count }}
        total balance: {{ sum }}
        </h2>

    {% for portfolio in user.portfolios %}

        <h2>
            portfolio_id: {{ portfolio.id }} has {{ portfolio.balance}} 
            and has stocks: 
        </h2>
                {% for depositary in portfolio.depositaries %}
            <h3>
             depositary_name: {{ depositary.stock.name }} | quantity: {{ depositary.quantity }}
            </h3>
             <br>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
